@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

.sidebar {
  @apply flex flex-col gap-y-2 h-full bg-black w-[100px] md:w-[300px] p-2;
}

.card {
  @apply rounded-lg bg-neutral-900;
}
